{$DOMAIN} {
	encode gzip zstd

	@api path /api/*
	reverse_proxy @api backend:8000

	@static path /static/*
	reverse_proxy @static backend:8000

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
